@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* { /* all */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --color-gray: lightgrey;
    --color-blue: blue;
}
html,
body,
main,
aside,
.inbox,
.chat,
.panel {
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;

}
aside {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--color-gray);
    width: 200px;
}

.menu {

}
.logo {
  display: flex;
  align-items: center;
  font-size: large;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
  padding-bottom: 40px;
}
/* .logo__img {
  padding-right: 5px;
} */
.la-cube {
  font-size: xxx-large;
}
.menu__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  color: var(--color);
  font-size: 15px;
}
.menu__img {
  padding-right: 5px;
}
.content {
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 118px);
    margin-right: 20px;
}
.header5 {
  padding: 10px 20px; 
}
.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.kontent__border--round {
  border-radius: 50%;
  padding: 10px;
  margin-right: 5px;
}
.kontent__border--red {
  border: 2px solid red;
}
.kontent__border--blue{
  border: 2px solid blue;
}
.kontent__border--blueviolet {
  border: 2px solid blueviolet;
}
.kontent__border--green {
  border: 2px solid green;
}
.buttonPlus {
  border-radius: 5px;
    padding: 5px;
    height: 30px;
    width: 30px;
}
.buttonPlus--gray {
    background: gray;
}

.kontent__button {
  padding: 10px 20px; 
  margin-left: 20px;
  border-radius: 10px;
  width: calc(100% - 20px);
}
.kontent__border--small{
width: 10px;
height: 10px;
}
.inbox {
  
    border-right: 1px solid var(--color-gray);
    width: 250px;
    padding: 18px 20px 10px 20px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: xx-large;
}
.buttonPlus--circled{
  border: 1px solid var(--color-gray);
}

.switch {
  /* display: flex;
  justify-content: space-between; */
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.General__button{
  /* padding: 1px; */
  background: none;
  width: 50%;
  background: none;
  border-radius: 10px;
  margin-left: 2px;
  border: none;
  position: relative; z-index: 7
}
.total__button{
  width: 100%;
  height: 27px;
  padding-left: 50px;
  /* margin-left: -76px; */
  border: none;
  border-radius: 10px;
  position: relative; z-index: 5
}



main {
    position: absolute;
    top: 0;
    left: 200px;
    width: calc(100% - 200px);
    display: flex;
}

.buttonPlus--circled{

}

.chat {
    border-right: 1px solid grey;
    width: calc(100% - 250px - 50px);

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.panel {
    width: 50px;
}
.chat-item {
  display: flex;
    height: 55px;
    margin-bottom: 1rem;
    border-radius: 10px;
    border-bottom: 1px solid var(--color-gray);
}
.chat-item--activ{
  background: var(--color-gray);
}
.name{
  font-size: 15px;
  font-weight: bold;
}
.spot{
  font-size: 13px;
  color: gray;
}
.lastmessage{
  font-size: 13px;
}
.container,
.messages {
    overflow-y: scroll;
    /* надо поправить, видимо сделать через calc(), чтобы все было идеально */
    height: 90%;
}
.container::-webkit-scrollbar,
.messages::-webkit-scrollbar {
    display: none;
}
.chat-top,
.chat-bottom  {
    height: 60px;
    background: grey;
}
.chat-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 2px;
  padding-right: 2px;
}
.avatar{
  border-radius: 10px;

}
.message {
    height: 20px;
    background: blue;
    margin-bottom: 1rem;
}