.sidebar {
    position: fixed;
    height: 100vh;
    width: 200px;
}
.main {
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
}
.center {
    width: calc(100% - 400px);
    padding: 20px;
}
header {
    display: flex;
    justify-content: space-between;
}

.user-block {
    display: flex;
    align-items: center;
}
.search__input {
    border: none;
    /* outline: none; */
    background: rgb(240 240 240);;
    font-size: 1rem;
    padding: 1rem;
}
.header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header2{
    display: flex;
    justify-content: flex-start;;
    align-items: center;
}
.header2--separated {
    margin-right: 1rem; 
}
.box {
    width: 100%;
}
/* правая секция */

.table {
    width: 406px; 
}
.calendar {
  padding: width0;
  width: 350px;
  display: flex;
  flex-wrap: wrap;
}
.calendar__item {
  list-style: none;
  width: calc(100% / 7);
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}
.calendar__item--small {
  font-size: 0.75rem;
}
.calendar__item--grey {
  color: rgb(163, 163, 163);
}
.calendar__item--active {
  background: #000;
  color: #fff;
}
.calendar__item: not(.calendar__item--small):hover {
    background: lightgrey;
    cursor: pointer;
}
/*------------------------------------*/
.timeline__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.timeline__time {
    width: 58px;
    text-align: center;
}
.timeline__line {
    width: 348px;
    text-align: center;
    border-bottom: 2px solid rgb(240 240 240);
}
.timeline__event {
    background: rgb(240 240 240); 
}


@media (max-width: 768px) {
.box {
    display: none;
}
.main {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.header1__all{
    display: none;
}
.sidebar {
    display: none;
}


   
  }